<div class="row" ng-hide="contact.Id">
  <div class="col-md-6">
      <h2>Create new contact</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>FirstName</label> 
      <input id="Firstname" class="form-control slds-input" type="text" ng-model="contact.FirstName">
    </p>
    <p>
      <label>LastName</label> 
      <input id="Lastname" class="form-control slds-input" type="text" ng-model="contact.LastName">
    </p>
    <p>
      <label>Phone (Work)</label> 
      <input id="Phone" class="form-control slds-input" type="text" ng-model="contact.Phone">
    </p>
    <p>
     <!-- <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button> -->
    </p>
  </div>
</div>