
<div class="slds-card">
    <div class="slds-form" role="list">
  
    <div class="slds-grid slds-wrap">
  <div class="slds-col slds-size_5-of-12" ng-repeat="field in accdata">
 
 
<div class="slds-form__row" >
    <div class="slds-form__item" role="listitem">
      <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
        <span class="slds-form-element__label">
          {{field.label}}</span>
        <div class="slds-form-element__control">
          <div class="slds-form-element__static">
              {{field.value}}
            
          </div>
        </div>
      </div>
    </div>
  </div>
   </div>
  
</div>
</div>
  
  </div>
