<div class="slds-card">
  <table class="slds-table slds-table_cell-buffer slds-table_bordered">
  <thead>
    <tr class="slds-line-height_reset">
      <th class="" scope="col">
        <div class="slds-truncate" title="Opportunity Name">Id</div>
      </th>
      <th class="" scope="col">
        <div class="slds-truncate" title="Account Name">Name</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contact in contacts | orderBy:'Name'" style="cursor:pointer">
        <th data-label="Opportunity Name" scope="row">
        <div class="slds-truncate" title="Account">
          <a ng-href="#/contact/{{contact.Id}}">{{ contact.Id }}</a>
        </div>
      </th>
      <td data-label="Account Name">
        <div class="slds-truncate" title="Account">{{ contact.Name }}</div>
      </td>
      </tr>

  </tbody>
</table>
</div>

